/* Exercise 1 */
/* .heading {
    color:red;
}

.capital_para {
    background-color: beige;
}

/* .heading.london {
    background-color: pink;
} */

/* #firsth2 {
    background-color: pink;
} */

p {
  border: 10px lightgreen;
  border-width: 10px;
  border-style: ridge;
  margin: 5px;
}

span {
    padding: 0px 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}